
.details-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

.details-container img{
    width: 200px;
}

.char-info{
    
    line-height: 2;
}