
.header-container{
    background-color: purple;
    color: white;
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.header-dark{
    background-color: black;
}

.header-links{
    width: 20%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
}

.header-links a{
    color: white;
}

.message{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 20%;
}