.characters-container{
    display: flex;
    flex-wrap: wrap;
}
.character-dark{
    background-color: black;
    color: white;
}

.home-container{
    text-align: center;
}
.home-dark{
    background-color: black;
    color: white;
}